{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">
    <div class="row">
      <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner home--feature-title">
                <h1>{% trans "Heartwarming Hibiscus" context "Homepage title" %}</h1>
                <h2>{% trans "Made with love, shared with love" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Coming soon" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center home--featured-products-title">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_homepage_items.html" %}

        <div class="col-sm-12 col-md-3 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="col-sm-12 col-md-3 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>

    </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
 <div class="row">
	<div class="col-12 home__tea">
	 </div>
</div>
 <div class="row">
	<div class="col-12 home__instagram">
	<h2> Latest Posts From Instagram </h3> 
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/e12509285a7c53ca8105d2fe2284ddaa.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:1;overflow:hidden;"></iframe>
	</div>
</div>
{% endblock %}
