// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 12px;

// COLORS
$body-color: #E8F3F1;
$background-color: #E8F3F1;
$white: #fafafa;
$light-gray: #f1f5f5;
$gray: #d3d1d0;
$darken-gray: darken($gray, 10%);
$dark-gray:#545353;
$skull-gray: #9EADBD;
$blue: #1E8BCA;
$darken-blue: darken($blue, 10%);
$dark-blue: #002456;
$red: #f47e6f;
$dark-red: #ef3c36;
$green: #53b66d;
$beige: #F3EADA;
$orange: #559643;
$turquoise: #2eafac;
$light-turquoise: #E8F3F1;
$med-turquoise: #98cdca;

// TYPOGRAPHY
$font-family-sans-serif: "Museo_Slab", sans-serif;
@font-face {
  font-family: Museo_Slab;
  src: local(Museo Slab Light), url(/static/assets/Museo_Slab_300.woff2) format("woff2"), url(/static/assets/Museo_Slab_300.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Museo_Slab;
  src: local(Museo Slab Med-Light), url(/static/assets/Museo_Slab_300.woff2) format("woff2"), url(/static/assets/Museo_Slab_300.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Museo_Slab;
  src: local(Museo Slab  Medium), url(/static/assets/Museo_Slab_500.woff2) format("woff2"), url(/static/assets/Museo_Slab_300.woff) format("woff");
  font-weight: 500;
}

$font-family-decorative: "aphrodite_slim_text", sans-serif;
@font-face {
  font-family: aphrodite_slim_text;
  src: local(Aphrodite Slim Text), url(/static/fonts/aphrodite_slim_text.woff2) format("woff2"), url(/static/fonts/aprodite_slim_text.woff) format("woff");
  font-weight: 400;
}


$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

$theme-colors: (
  primary: $light-turquoise,
  secondary: $white,
  success: $green,
  info: $turquoise,
  warning: $orange,
  danger: $dark-red,
  light: $light-turquoise,
  dark: $turquoise
);

